/* mediaqueries */
/* @include desktop-sm {width: 125px; top: 20px;}
    @include tablet {width: 100px;}
    @include phone {display: block; width: 125px;}   */
* {
  margin: 0;
  padding: 0;
  font-family: bebas-neue-pro, sans-serif; }

body {
  background-color: #172430;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow-x: hidden;
  cursor: url("../images/arrow.png"), auto;
  position: relative;
  /* cursor: url('../images/point.png'), pointer; */ }

a, button, i, input[type=submit], nav p, nav img, ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb, .btn-grey, .btn-orange, .btn-orange div, .btn-grey div, ::-webkit-scrollbar-thumb:hover, #proces span, #cases .swiper-slide img, .swiper-button-next, .swiper-button-prev, .nav-container span {
  cursor: url("../images/point.png"), pointer !important; }

input[type=text], input[type=text], input[type=email], textarea {
  cursor: url("../images/text.png"), text !important; }

html {
  overflow-y: auto;
  overflow-x: hidden; }

#app {
  position: relative; }

#content {
  margin-left: 70px;
  width: -webkit-calc(100vw - $nav-width);
  width: -moz-calc(100vw - $nav-width);
  width: calc(100vw - $nav-width);
  position: relative; }
  @media only screen and (max-width: 1050px) {
    #content {
      margin-left: 0;
      width: 100%; } }

#detail {
  scroll-behavior: initial !important; }

#cases {
  position: relative; }

.sub-wrapper {
  height: 100vh;
  width: 90%;
  margin: 10vh auto;
  color: #F2F2F2;
  position: relative; }
  @media only screen and (max-width: 550px) {
    .sub-wrapper {
      height: auto; } }

.dark {
  color: #172430; }

.anchor {
  margin-top: 100px; }
  @media only screen and (max-width: 550px) {
    .anchor {
      margin-top: 50px; } }

h1, h2, h3, h4 {
  font-family: bebas-neue-pro-expanded, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase; }

h2 {
  font-size: 12rem;
  color: transparent;
  -webkit-text-stroke-width: 2px; }
  @media only screen and (max-width: 550px) {
    h2 {
      font-size: 30vw; } }

.darkh2 {
  -webkit-text-stroke-color: #172430; }

.lighth2 {
  -webkit-text-stroke-color: #F2F2F2; }

a {
  text-decoration: none; }

.btn-orange div {
  background-color: #FF593E;
  color: white; }

.btn-grey div {
  background-color: #F2F2F2;
  color: #101A23; }

.btn-orange, .btn-grey {
  text-decoration: none;
  text-transform: uppercase; }
  .btn-orange div, .btn-grey div {
    width: 6vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: .4s ease; }
    .btn-orange div i, .btn-grey div i {
      margin-left: 10%; }
    .btn-orange div:hover, .btn-grey div:hover {
      transform: scale(1.1); }
    @media only screen and (max-width: 1050px) {
      .btn-orange div, .btn-grey div {
        width: 14vw;
        height: 8vw;
        font-size: 2.5vw; } }
    @media only screen and (max-width: 550px) {
      .btn-orange div, .btn-grey div {
        width: 30vw;
        height: 15vw;
        font-size: 6vw;
        margin-top: 4vh; } }

/* SCROLLBAR STYLING */
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #101A23; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FB7C67; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF593E; }

/* mark selection */
::selection {
  background: #ffb7b723;
  /* WebKit/Blink Browsers */
  color: #FB7C67; }

::-moz-selection {
  background: #ffb7b7;
  /* Gecko Browsers */ }

.delete {
  display: none !important; }

.grecaptcha-badge {
  z-index: 150 !important; }
  @media only screen and (max-width: 1050px) {
    .grecaptcha-badge {
      margin-bottom: 15vh !important; } }
  @media only screen and (max-width: 550px) {
    .grecaptcha-badge {
      margin-bottom: 30vh !important; } }

.bg-element {
  position: absolute;
  height: auto;
  z-index: -1 !important; }

.about-bg1 {
  bottom: 20%;
  right: 10%;
  width: 5vw; }

.about-bg2 {
  bottom: 10%;
  right: 20%;
  width: 7vw; }

.about-bg3 {
  bottom: 20%;
  left: 10%;
  width: 3vw; }

.about-bg4 {
  bottom: 50%;
  left: 2%;
  width: 8vw; }

.about-bg5 {
  bottom: 0%;
  left: 50%;
  width: 5vw; }

.detailview-bg1 {
  bottom: 20%;
  right: 10%;
  width: 5vw; }

.detailview-bg2 {
  bottom: 50%;
  right: 20%;
  width: 7vw; }

.detailview-bg3 {
  bottom: 60%;
  left: 10%;
  width: 3vw; }

.detailview-bg4 {
  bottom: 70%;
  left: 2%;
  width: 8vw; }

.detailview-bg5 {
  bottom: 10%;
  left: 50%;
  width: 5vw; }

#birds {
  width: 50%;
  height: 100vh;
  position: relative; }
  @media only screen and (max-width: 1050px) {
    #birds {
      /* display: none; */
      width: 100%; }
      #birds canvas {
        height: 99vh !important; } }
  @media only screen and (max-width: 550px) {
    #birds {
      position: absolute;
      top: 0; } }

#hero {
  position: relative; }

.hero-text {
  width: 50%;
  height: 100%; }
  @media only screen and (max-width: 1050px) {
    .hero-text {
      width: 100%;
      margin: auto;
      background-color: transparent;
      position: absolute;
      z-index: 50; } }
  .hero-text p {
    width: 70%;
    margin: auto;
    margin-left: 10%;
    margin-top: 5vh;
    color: white;
    font-size: 1.3rem; }
    @media only screen and (max-width: 550px) {
      .hero-text p {
        width: 90%;
        margin: auto;
        text-align: center;
        text-shadow: 1px 1px 2px #172430; } }

.hero-head {
  color: white;
  width: 90%;
  margin: auto;
  margin-left: 10%;
  display: flex;
  align-items: flex-end;
  margin-top: 30%; }
  @media only screen and (max-width: 550px) {
    .hero-head {
      margin: auto;
      margin-top: 32%; } }
  .hero-head h1 {
    font-size: 4rem;
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    font-weight: 1000; }
    @media only screen and (max-width: 550px) {
      .hero-head h1 {
        margin: 8vh auto; } }
    .hero-head h1 span {
      color: #FF593E;
      font-size: 5rem; }
      @media only screen and (max-width: 550px) {
        .hero-head h1 span {
          display: none; } }
    @media only screen and (max-width: 1050px) {
      .hero-head h1 {
        font-size: 10vw; } }
    @media only screen and (max-width: 550px) {
      .hero-head h1 {
        font-size: 10vw; } }

.hero-forside {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh !important; }
  @media only screen and (max-width: 1050px) {
    .hero-forside {
      min-height: 100vh !important; } }
  @media only screen and (max-width: 550px) {
    .hero-forside {
      flex-direction: column; } }

.hero-btns {
  margin-left: 10%;
  margin-top: 7%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row; }
  .hero-btns span {
    margin-right: 2%; }
  @media only screen and (max-width: 550px) {
    .hero-btns {
      justify-content: space-around;
      margin: auto;
      margin-top: 5vh; } }

#hero-bottom-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  right: 5%;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 50; }
  #hero-bottom-content i {
    color: white;
    font-size: 35px;
    transition: .4s ease; }
    #hero-bottom-content i:hover {
      color: #FB7C67;
      transform: scale(1.05); }
    @media only screen and (max-width: 550px) {
      #hero-bottom-content i {
        font-size: 25px; } }
  #hero-bottom-content #weather-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white; }
    #hero-bottom-content #weather-container span {
      color: #FB7C67; }
    @media only screen and (max-width: 550px) {
      #hero-bottom-content #weather-container img {
        display: none; } }
  #hero-bottom-content #hero-bottom-some i {
    margin: 0px 5px; }
  #hero-bottom-content #hero-bottom-arrow i {
    font-size: 50px; }
    @media only screen and (max-width: 550px) {
      #hero-bottom-content #hero-bottom-arrow i {
        display: none; } }
  @media only screen and (max-width: 550px) {
    #hero-bottom-content {
      left: 8%; } }

.vanta-canvas {
  width: 100% !important;
  height: 100vh !important; }

.gradient-left {
  background: #172430;
  background: linear-gradient(90deg, #172430 0%, #172430 41%, rgba(0, 212, 255, 0) 100%);
  height: 100%;
  width: 25%;
  position: absolute !important;
  left: 0;
  top: 0;
  z-index: 20; }
  @media only screen and (max-width: 1050px) {
    .gradient-left {
      display: none; } }

.gradient-bot {
  background: #172430;
  background: linear-gradient(0deg, #172430 0%, #172430 41%, rgba(0, 212, 255, 0) 100%);
  width: 100%;
  height: 10%;
  position: absolute !important;
  left: 0;
  bottom: 0;
  z-index: 20; }

.sub {
  width: 100%;
  height: 120vh; }
  @media only screen and (max-width: 1260px) {
    .sub {
      min-height: 120vh; } }
  @media only screen and (max-width: 550px) {
    .sub {
      height: auto; } }

#services, #contact {
  display: flex; }

/*************************************/
/* mediaqueries */
/* @include desktop-sm {width: 125px; top: 20px;}
    @include tablet {width: 100px;}
    @include phone {display: block; width: 125px;}   */
.tabbar {
  position: fixed;
  width: 70px;
  left: -70px;
  top: 0;
  height: 100vh;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #101A23;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99; }
  .tabbar .nav-container {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    position: relative; }
    .tabbar .nav-container img {
      width: 40px; }
      @media only screen and (max-width: 550px) {
        .tabbar .nav-container img {
          width: 35px; } }
    .tabbar .nav-container img:hover {
      cursor: pointer; }
    .tabbar .nav-container span {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: 45px;
      height: 45px;
      border-radius: 90px;
      border: 0px solid #FF593E;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -webkit-transition: 0.1s ease;
      -o-transition: 0.1s ease;
      transition: 0.1s ease;
      z-index: 99; }
      .tabbar .nav-container span i {
        font-size: 23px;
        color: white;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease; }
        @media only screen and (max-width: 1050px) {
          .tabbar .nav-container span i {
            font-size: 25px; } }
        @media only screen and (max-width: 550px) {
          .tabbar .nav-container span i {
            font-size: 25px; } }
      @media only screen and (max-width: 1050px) {
        .tabbar .nav-container span {
          width: 55px;
          height: 55px; } }
      @media only screen and (max-width: 550px) {
        .tabbar .nav-container span {
          width: 45px;
          height: 45px; } }
    .tabbar .nav-container span.active {
      border-radius: 90px;
      border: 3px solid #FF593E;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      .tabbar .nav-container span.active i {
        color: #FF593E; }
        @media only screen and (max-width: 1050px) {
          .tabbar .nav-container span.active i {
            color: white; } }
    .tabbar .nav-container span:hover {
      z-index: 99; }
      .tabbar .nav-container span:hover .link-desc {
        display: block;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
        z-index: 999; }
        @media only screen and (max-width: 1050px) {
          .tabbar .nav-container span:hover .link-desc {
            display: none; } }
      .tabbar .nav-container span:hover i {
        color: #FF593E;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease; }
        @media only screen and (max-width: 1050px) {
          .tabbar .nav-container span:hover i {
            color: white; } }
  @media only screen and (max-width: 1050px) {
    .tabbar {
      width: 100%;
      height: 7vh;
      bottom: 0;
      top: auto;
      z-index: 999;
      left: 0; }
      .tabbar .nav-container {
        flex-direction: row;
        width: 90%;
        margin: auto; } }
  @media only screen and (max-width: 550px) {
    .tabbar {
      height: 65px; } }

.tabbar.pop {
  left: 0;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease; }

.tabbar-some {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15%; }
  .tabbar-some i {
    margin-bottom: 100%;
    font-size: 23px;
    color: white;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .tabbar-some i:hover {
      color: #FF593E; }
  @media only screen and (max-width: 1050px) {
    .tabbar-some {
      display: none; } }

.link-desc {
  text-align: center;
  padding: 5px 12px;
  padding-left: 30px;
  background-color: #F2F2F2;
  display: none;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%);
  margin-right: -100px;
  position: absolute;
  left: 75px;
  font-size: 1.5rem;
  color: #FF593E;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 99 !important; }

.top-nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 41;
  top: 5vh; }
  @media only screen and (max-width: 550px) {
    .top-nav {
      justify-content: center;
      position: relative;
      margin: 0;
      width: 100%; } }
  .top-nav .top-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    padding: 12px; }
    @media only screen and (max-width: 1050px) {
      .top-nav .top-links {
        display: none; } }
    .top-nav .top-links span {
      display: flex;
      align-items: center;
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease;
      font-family: bebas-neue-pro-expanded, sans-serif;
      font-weight: 700;
      font-style: normal; }
      .top-nav .top-links span i {
        margin-right: 12px; }
    .top-nav .top-links span:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
      color: #FB7C67;
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }

.logo {
  display: flex;
  align-items: center;
  width: 250px;
  height: 5vh;
  justify-content: space-around; }
  @media only screen and (max-width: 550px) {
    .logo {
      justify-content: center;
      width: 60%;
      height: 10vh; } }
  .logo img {
    height: 90%; }
  .logo #butterfly {
    width: 25%; }
    @media only screen and (max-width: 550px) {
      .logo #butterfly {
        margin-right: 20px; } }
  .logo #logo-text {
    width: 65%; }

#vanish {
  display: none; }

/* mediaqueries */
/* @include desktop-sm {width: 125px; top: 20px;}
    @include tablet {width: 100px;}
    @include phone {display: block; width: 125px;}   */
@media only screen and (max-width: 550px) {
  #about {
    height: auto; } }

.about-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65%;
  max-width: 1200px;
  margin: auto; }
  .about-container .about-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%; }
    @media only screen and (max-width: 1050px) {
      .about-container .about-left {
        width: 100%;
        align-items: center;
        height: 60%; } }
    @media only screen and (max-width: 550px) {
      .about-container .about-left {
        height: auto; } }
    .about-container .about-left p {
      font-size: 1.3rem; }
    .about-container .about-left .text-box {
      width: 80%; }
      @media only screen and (max-width: 550px) {
        .about-container .about-left .text-box {
          margin: auto;
          text-align: center; } }
      .about-container .about-left .text-box h3 {
        font-size: 2.5rem; }
        @media only screen and (max-width: 550px) {
          .about-container .about-left .text-box h3 {
            margin-top: 4vh;
            text-align: center;
            font-size: 3rem;
            margin-bottom: 4vh; } }
    .about-container .about-left .skills {
      width: 80%; }
      @media only screen and (max-width: 550px) {
        .about-container .about-left .skills {
          width: 100%; } }
      .about-container .about-left .skills .skills-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; }
        @media only screen and (max-width: 550px) {
          .about-container .about-left .skills .skills-container {
            flex-direction: column; } }
      .about-container .about-left .skills h4 {
        font-size: 2.2rem; }
        @media only screen and (max-width: 550px) {
          .about-container .about-left .skills h4 {
            margin-top: 4vh;
            text-align: center;
            font-size: 2.8rem; } }
      .about-container .about-left .skills p {
        width: 40%;
        margin-top: 2vh; }
        @media only screen and (max-width: 1050px) {
          .about-container .about-left .skills p {
            margin-top: 1vh; } }
        @media only screen and (max-width: 550px) {
          .about-container .about-left .skills p {
            font-size: 8vw;
            margin-top: 5vh;
            text-align: center;
            width: 100%; } }
  .about-container .about-right {
    width: 50%; }
    @media only screen and (max-width: 1050px) {
      .about-container .about-right {
        width: 90%;
        margin: auto;
        height: 60%; } }
    @media only screen and (max-width: 550px) {
      .about-container .about-right {
        height: auto; } }
  .about-container .person-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
    @media only screen and (max-width: 550px) {
      .about-container .person-container {
        flex-direction: column; } }
    .about-container .person-container .person {
      width: 40%;
      display: flex;
      flex-direction: column;
      height: 80%; }
      @media only screen and (max-width: 550px) {
        .about-container .person-container .person {
          width: 70%;
          margin: auto;
          margin-top: 5vh; } }
      @media only screen and (max-width: 1050px) {
        .about-container .person-container .person {
          height: 100%; } }
      .about-container .person-container .person .person-card {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        .about-container .person-container .person .person-card img {
          width: 100%; }
        .about-container .person-container .person .person-card a {
          color: white;
          font-size: 1.5rem;
          margin: 5px 0; }
          .about-container .person-container .person .person-card a:hover {
            color: #FF593E; }
        .about-container .person-container .person .person-card h5 {
          font-size: 40px;
          color: #FF593E; }
          @media only screen and (max-width: 1260px) {
            .about-container .person-container .person .person-card h5 {
              font-size: 3vw; } }
          @media only screen and (max-width: 550px) {
            .about-container .person-container .person .person-card h5 {
              font-size: 8vw;
              text-align: end; } }
          @media only screen and (max-width: 1050px) {
            .about-container .person-container .person .person-card h5 {
              font-size: 6vw;
              text-align: end; } }
    .about-container .person-container :nth-child(odd) {
      justify-content: flex-start; }
    .about-container .person-container :nth-child(even) {
      justify-content: flex-end; }
      @media only screen and (max-width: 1050px) {
        .about-container .person-container :nth-child(even) {
          justify-content: flex-start; } }
  @media only screen and (max-width: 1050px) {
    .about-container {
      flex-direction: column-reverse;
      height: 80%; } }

/* mediaqueries */
/* @include desktop-sm {width: 125px; top: 20px;}
    @include tablet {width: 100px;}
    @include phone {display: block; width: 125px;}   */
#contact .sub-wrapper h2 {
  color: transparent;
  -webkit-text-stroke-width: #172430;
  -webkit-text-stroke-color: #172430;
  position: absolute;
  right: -50px; }
  @media only screen and (max-width: 550px) {
    #contact .sub-wrapper h2 {
      width: 100%;
      font-size: 5rem;
      right: 0;
      text-align: center; } }
#contact .sub-wrapper .h3-contact {
  color: #FF593E;
  font-size: 2rem;
  margin-top: 10%; }
  @media only screen and (max-width: 1260px) {
    #contact .sub-wrapper .h3-contact {
      margin-top: 20%; } }
  @media only screen and (max-width: 1199px) {
    #contact .sub-wrapper .h3-contact {
      margin-top: 30%; } }
  @media only screen and (max-width: 1050px) {
    #contact .sub-wrapper .h3-contact {
      margin-top: 40%; } }
  @media only screen and (max-width: 550px) {
    #contact .sub-wrapper .h3-contact {
      margin-top: 30%;
      font-size: 1.5rem; } }

.h3-big-contact {
  font-size: 5rem !important;
  color: #172430 !important;
  margin: 10px 0px 50px 0px; }
  @media only screen and (max-width: 1050px) {
    .h3-big-contact {
      font-size: 3rem !important; } }
  @media only screen and (max-width: 550px) {
    .h3-big-contact {
      margin: 10px 0px; } }

#contact-form {
  display: flex;
  flex-direction: column;
  width: 85%; }
  #contact-form h4 {
    color: #172430;
    font-size: 2rem; }
    @media only screen and (max-width: 550px) {
      #contact-form h4 {
        font-size: 1.5rem; } }
  #contact-form-top-input {
    width: 60%;
    display: flex;
    flex-direction: row; }
    #contact-form-top-input input[type=text], #contact-form-top-input input[type=email] {
      width: 80%;
      margin-bottom: 10%; }
      @media only screen and (max-width: 550px) {
        #contact-form-top-input input[type=text], #contact-form-top-input input[type=email] {
          width: 100%; } }
    #contact-form-top-input div {
      width: 100%; }
    @media only screen and (max-width: 1050px) {
      #contact-form-top-input {
        width: 100%; } }
    @media only screen and (max-width: 550px) {
      #contact-form-top-input {
        flex-direction: column; } }
  #contact-form input, #contact-form textarea {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    outline-width: 0; }
    @media only screen and (max-width: 550px) {
      #contact-form input, #contact-form textarea {
        font-size: 1.2rem; } }
  #contact-form input[type=submit] {
    color: white; }
  #contact-form textarea {
    resize: none;
    width: 60%; }
    @media only screen and (max-width: 1050px) {
      #contact-form textarea {
        width: 100%; } }

#contact-form, #contact h3 {
  margin-left: 10%; }
  @media only screen and (max-width: 550px) {
    #contact-form, #contact h3 {
      margin-left: 2%; } }

.call-us {
  /*  position: absolute;
   right: 100px; */
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center; }
  .call-us a {
    color: #172430;
    transition: ease .4s; }
    .call-us a:hover {
      color: #FF593E; }
  @media only screen and (max-width: 1050px) {
    .call-us {
      margin-top: 5%;
      font-size: 2rem; } }
  @media only screen and (max-width: 550px) {
    .call-us {
      font-size: 1.5rem;
      margin-top: 10%; } }
  .call-us .available {
    width: 1vw;
    height: 1vw;
    border-radius: 90px;
    margin-left: 15px; }
    @media only screen and (max-width: 1050px) {
      .call-us .available {
        width: 2vw;
        height: 2vw; } }
    @media only screen and (max-width: 550px) {
      .call-us .available {
        width: 3vw;
        height: 3vw; } }

.contact-btn-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  @media only screen and (max-width: 1050px) {
    .contact-btn-number {
      flex-direction: column; } }
  @media only screen and (max-width: 550px) {
    .contact-btn-number {
      margin-top: -50px; } }

#alert-success {
  position: fixed;
  width: 100%;
  background-color: #FB7C67;
  top: 0px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 9999;
  transition: .4s ease;
  opacity: 1; }
  #alert-success i {
    margin-left: 5%; }
  #alert-success.hide {
    visibility: hidden;
    opacity: 0; }

/* mediaqueries */
/* @include desktop-sm {width: 125px; top: 20px;}
    @include tablet {width: 100px;}
    @include phone {display: block; width: 125px;}   */
footer {
  width: 100%;
  height: 100vh !important; }
  @media only screen and (max-width: 1050px) {
    footer {
      height: auto !important;
      min-height: auto !important; } }
  @media only screen and (max-width: 550px) {
    footer {
      text-align: center; } }

.footer-wrapper {
  width: 50%;
  height: 90vh;
  margin: auto;
  margin-right: 40%;
  display: flex;
  flex-direction: column;
  z-index: 12; }
  @media only screen and (max-width: 1050px) {
    .footer-wrapper {
      width: 90%;
      margin: auto; } }
  @media only screen and (max-width: 550px) {
    .footer-wrapper {
      height: auto; } }
  .footer-wrapper .footer-top {
    margin-top: 10vh; }
    @media only screen and (max-width: 1050px) {
      .footer-wrapper .footer-top {
        margin-top: 0; } }
    @media only screen and (max-width: 550px) {
      .footer-wrapper .footer-top {
        margin-top: 20vh; } }
  .footer-wrapper .footer-topdesc {
    display: flex;
    justify-content: space-between;
    margin: 8vh auto; }
    @media only screen and (max-width: 550px) {
      .footer-wrapper .footer-topdesc {
        flex-direction: column; } }
    .footer-wrapper .footer-topdesc p {
      width: 60%;
      font-size: 1.5rem;
      color: #F2F2F2; }
      @media only screen and (max-width: 1050px) {
        .footer-wrapper .footer-topdesc p {
          font-size: 3vw; } }
      @media only screen and (max-width: 550px) {
        .footer-wrapper .footer-topdesc p {
          width: 100%;
          font-size: 2rem; } }
    .footer-wrapper .footer-topdesc .footer-icons {
      width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      flex-wrap: wrap; }
      @media only screen and (max-width: 550px) {
        .footer-wrapper .footer-topdesc .footer-icons {
          width: 100%; } }
      .footer-wrapper .footer-topdesc .footer-icons a {
        font-size: 2.5vw;
        color: #F2F2F2; }
        @media only screen and (max-width: 1050px) {
          .footer-wrapper .footer-topdesc .footer-icons a {
            font-size: 6vw; } }
        @media only screen and (max-width: 550px) {
          .footer-wrapper .footer-topdesc .footer-icons a {
            font-size: 25vw;
            margin-top: 4vh; } }
        .footer-wrapper .footer-topdesc .footer-icons a:hover {
          color: #FF593E; }

.footer-line {
  width: 100%;
  height: 3px;
  background-color: #F2F2F2;
  margin-bottom: 8vh; }

.footer-img {
  width: 35vw;
  background-image: url(../images/footer-img.png);
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
  overflow-y: hidden;
  overflow-x: hidden; }
  @media only screen and (max-width: 1050px) {
    .footer-img {
      display: none; } }

.footer-logo {
  width: 40%;
  height: 6vh; }
  @media only screen and (max-width: 550px) {
    .footer-logo {
      width: 100%;
      height: auto; } }
  .footer-logo img {
    height: 100%; }

.footer-bot {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 550px) {
    .footer-bot {
      flex-direction: column; } }
  .footer-bot h4 {
    color: #F2F2F2;
    font-size: 1.6vw;
    margin-bottom: 0.3vh; }
    @media only screen and (max-width: 1050px) {
      .footer-bot h4 {
        font-size: 3.5vw;
        margin-bottom: 0.6vh; } }
    @media only screen and (max-width: 550px) {
      .footer-bot h4 {
        font-size: 3rem;
        text-align: center; } }
  .footer-bot a, .footer-bot p {
    color: #F2F2F2;
    font-size: 1.2vw;
    margin: 0.7vh 0; }
    @media only screen and (max-width: 1050px) {
      .footer-bot a, .footer-bot p {
        font-size: 3vw; } }
    @media only screen and (max-width: 550px) {
      .footer-bot a, .footer-bot p {
        font-size: 2rem; } }
  .footer-bot a:hover {
    color: #FF593E; }
  .footer-bot .footer-botleft, .footer-bot .footer-botmid, .footer-bot .footer-botright {
    width: 28%; }
    @media only screen and (max-width: 550px) {
      .footer-bot .footer-botleft, .footer-bot .footer-botmid, .footer-bot .footer-botright {
        width: 100%;
        align-items: center; } }
  .footer-bot .footer-botleft, .footer-bot .footer-botmid {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .footer-bot .footer-botright .opening {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%; }
    @media only screen and (max-width: 550px) {
      .footer-bot .footer-botright .opening {
        width: 90%;
        margin: auto;
        margin-bottom: 10vh; } }
  .footer-bot .boring {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media only screen and (max-width: 550px) {
      .footer-bot .boring {
        margin-bottom: 10vh;
        align-items: center; } }
  .footer-bot .footer-phone {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 550px) {
      .footer-bot .footer-phone {
        justify-content: center; } }
    .footer-bot .footer-phone .phone-active {
      border-radius: 90px;
      width: 0.5vw;
      height: 0.5vw;
      margin-left: 0.5vw; }
      @media only screen and (max-width: 1050px) {
        .footer-bot .footer-phone .phone-active {
          width: 1.2vw;
          height: 1.2vw; } }
      @media only screen and (max-width: 550px) {
        .footer-bot .footer-phone .phone-active {
          width: 5vw;
          height: 5vw;
          margin-left: 2vw; } }
  @media only screen and (max-width: 550px) {
    .footer-bot .adresse, .footer-bot .contact, .footer-bot .cvr {
      margin-bottom: 10vh; } }

#proces h2 {
  position: relative;
  z-index: 90; }

.proc {
  -webkit-transition: background-color 0.3s ease !important;
  -o-transition: background-color 0.3s ease !important;
  transition: background-color 0.3s ease !important;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  margin: auto !important; }
  @media only screen and (max-width: 1050px) {
    .proc {
      width: 100% !important; } }
  @media only screen and (max-width: 550px) {
    .proc {
      flex-direction: column !important; } }
  .proc img {
    width: 28% !important;
    height: auto !important; }
    .proc img:hover {
      cursor: url("../images/arrow.png"), default !important; }
    @media only screen and (max-width: 1050px) {
      .proc img {
        width: 35% !important; } }
    @media only screen and (max-width: 550px) {
      .proc img {
        width: 50% !important; } }
  .proc .proces-text {
    width: 50%;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 550px) {
      .proc .proces-text {
        width: 90%; } }
    .proc .proces-text h3 {
      font-size: 5vw;
      margin-bottom: 3vh; }
      @media only screen and (max-width: 550px) {
        .proc .proces-text h3 {
          font-size: 10vw;
          text-align: center; } }
    .proc .proces-text p {
      font-size: 1.5vw; }
      @media only screen and (max-width: 1050px) {
        .proc .proces-text p {
          font-size: 3vw; } }
      @media only screen and (max-width: 550px) {
        .proc .proces-text p {
          font-size: 4vw;
          text-align: center; } }

.swiper-slide {
  z-index: 1 !important; }

.swiper2 {
  height: 65vh !important;
  width: 70% !important;
  margin: auto !important; }
  .swiper2 .swiper-pagination2 {
    text-align: center; }
    @media only screen and (max-width: 550px) {
      .swiper2 .swiper-pagination2 {
        display: flex !important;
        justify-content: space-between !important; } }
    .swiper2 .swiper-pagination2 .swiper-pagination-bullet {
      margin: 0 25px !important;
      width: 70px;
      height: 40px;
      background-color: transparent;
      outline: none; }
      .swiper2 .swiper-pagination2 .swiper-pagination-bullet i {
        font-size: 40px;
        color: #172430; }
      @media only screen and (max-width: 550px) {
        .swiper2 .swiper-pagination2 .swiper-pagination-bullet {
          margin: 0 8px !important;
          width: 50px; } }
  @media only screen and (max-width: 1050px) {
    .swiper2 {
      width: 100% !important; } }

/* mediaqueries */
/* @include desktop-sm {width: 125px; top: 20px;}
    @include tablet {width: 100px;}
    @include phone {display: block; width: 125px;}   */
.swiper-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 550px) {
    .swiper-container {
      height: 60%; } }

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center; }

.swiper-slide img {
  width: 30vw; }
  @media only screen and (max-width: 1050px) {
    .swiper-slide img {
      width: 40vw; } }
  @media only screen and (max-width: 550px) {
    .swiper-slide img {
      width: 50vw; } }

.overlay {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vw;
  position: absolute;
  z-index: 10; }
  @media only screen and (max-width: 1050px) {
    .overlay {
      width: 40vw;
      height: 40vw; } }
  @media only screen and (max-width: 550px) {
    .overlay {
      width: 50vw;
      height: 50vw; } }
  .overlay .slider-count {
    align-self: flex-end;
    color: #FF593E;
    font-size: 15vw;
    margin-top: -0.5em;
    margin-right: -0.3em; }
    @media only screen and (max-width: 550px) {
      .overlay .slider-count {
        font-size: 20vw; } }
  .overlay .slider-job {
    color: #F2F2F2;
    font-size: 4vw;
    margin-left: -1em;
    margin-top: -1em; }
    @media only screen and (max-width: 550px) {
      .overlay .slider-job {
        font-size: 8vw; } }
  .overlay .slider-year {
    display: inline-flex;
    align-self: start;
    align-items: center;
    font-size: 2vw;
    transform: rotate(-90deg);
    color: #F2F2F2;
    margin-left: -4.6em;
    margin-top: 5em; }
    @media only screen and (max-width: 550px) {
      .overlay .slider-year {
        font-size: 4vw;
        margin-left: -3em; } }
  .overlay .line {
    width: 10vw;
    height: 2px;
    background-color: #F2F2F2;
    margin-right: 5%; }
  .overlay .slider-company {
    display: flex;
    font-size: 3vw;
    color: #424E58;
    transform: rotate(-90deg);
    margin-top: -3.54em;
    margin-left: 5.8em;
    width: 100%; }
    @media only screen and (max-width: 1050px) {
      .overlay .slider-company {
        font-size: 4vw;
        margin-top: -1.55em; } }
    @media only screen and (max-width: 550px) {
      .overlay .slider-company {
        font-size: 5vw;
        margin-top: -3.8em; } }

.animation-fadein {
  animation-name: fadein;
  animation-duration: 0.8s;
  transition: ease;
  animation-fill-mode: forwards; }

.animation-fadein-delay {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.8s;
  transition: ease;
  animation-fill-mode: forwards;
  animation-delay: 250ms; }

.animation-opacity {
  animation-name: opacity;
  animation-duration: 1.5s;
  transition: ease;
  animation-fill-mode: forwards; }

.animation-opacity-delay {
  opacity: 0;
  animation-name: opacity;
  animation-duration: 1.5s;
  transition: ease;
  animation-delay: 400ms;
  animation-fill-mode: forwards; }

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.slider-progress {
  display: flex;
  width: 15vw !important;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto auto 0% auto;
  color: white;
  --swiper-theme-color: white; }

.swiper-slide img {
  transition: ease 0.5s; }

#cases .swiper-slide img:hover {
  transform: scale(1.05);
  cursor: pointer; }

.overlay {
  pointer-events: none; }

.button-prev1 {
  display: none;
  margin-left: 20%;
  --swiper-theme-color: white; }
  @media only screen and (max-width: 550px) {
    .button-prev1 {
      display: none !important; } }

.button-next1 {
  margin-right: 20%;
  --swiper-theme-color: white; }
  @media only screen and (max-width: 550px) {
    .button-next1 {
      display: none !important; } }

.casehtag {
  margin-left: 10vh; }

.sub-wrapper.case {
  width: 100%; }

.case {
  height: 80vh; }
  @media only screen and (max-width: 550px) {
    .case {
      height: 60vh; } }

#cases h2 {
  margin-top: 8%; }
  @media only screen and (max-width: 1050px) {
    #cases h2 {
      margin-top: 20%; } }
  @media only screen and (max-width: 550px) {
    #cases h2 {
      margin: 8% auto 0 auto;
      text-align: center; } }

/* mediaqueries */
/* @include desktop-sm {width: 125px; top: 20px;}
    @include tablet {width: 100px;}
    @include phone {display: block; width: 125px;}   */
#recommend h2 {
  -webkit-text-stroke-width: #F2F2F2;
  -webkit-text-stroke-color: #F2F2F2;
  margin-left: 3%; }
  @media only screen and (max-width: 1260px) {
    #recommend h2 {
      font-size: 8rem; } }
  @media only screen and (max-width: 550px) {
    #recommend h2 {
      font-size: 3.5rem;
      -webkit-text-stroke-width: 1px; } }

.swiper3 {
  height: 65vh !important; }

.recommend-slide {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center; }
  .recommend-slide ul {
    width: 100%;
    list-style-image: url("../images/list_dot.png");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: -2vw; }
    @media only screen and (max-width: 1199px) {
      .recommend-slide ul {
        margin-left: 0; } }
    @media only screen and (max-width: 1050px) {
      .recommend-slide ul {
        flex-direction: column;
        align-items: flex-start; } }
    .recommend-slide ul li {
      /* float: left; */
      text-transform: capitalize;
      margin-left: 10%;
      font-size: 2rem;
      width: auto; }
      @media only screen and (max-width: 1199px) {
        .recommend-slide ul li {
          margin-left: 20%; } }
      @media only screen and (max-width: 550px) {
        .recommend-slide ul li {
          float: none; } }
    @media only screen and (max-width: 1199px) {
      .recommend-slide ul {
        list-style-image: url("../images/list_dot_small.png"); } }
  .recommend-slide a {
    color: white; }

.recommend-item {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  @media only screen and (max-width: 1199px) {
    .recommend-item div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .recommend-item img {
    width: 30%;
    object-fit: cover;
    height: 70%; }
    @media only screen and (max-width: 1199px) {
      .recommend-item img {
        display: none; } }
  .recommend-item h4 {
    font-size: 1.5rem;
    margin: 4% 0%;
    /* @include phone {margin: 4% 0%;} */ }

.quote {
  font-size: 1.7rem;
  width: 70%;
  font-style: italic; }
  @media only screen and (max-width: 1260px) {
    .quote {
      width: 90%; } }
  @media only screen and (max-width: 1199px) {
    .quote {
      text-align: center; } }
  @media only screen and (max-width: 550px) {
    .quote {
      width: 100%;
      font-size: 1.5rem; } }

.client-logo {
  width: 20vw !important;
  margin-bottom: 4%;
  display: block !important; }
  @media only screen and (max-width: 1050px) {
    .client-logo {
      width: 40vw !important; } }
  @media only screen and (max-width: 550px) {
    .client-logo {
      width: 70vw !important;
      margin-bottom: 5%; } }

.client-name {
  text-transform: capitalize;
  color: #FF593E;
  font-size: 3rem;
  font-weight: 700;
  margin: 2% 0%; }
  @media only screen and (max-width: 1050px) {
    .client-name {
      margin: 4% 0%; } }
  @media only screen and (max-width: 550px) {
    .client-name {
      font-size: 1.5rem; } }

.button-next3, .button-prev3 {
  --swiper-theme-color: white; }
  @media only screen and (max-width: 550px) {
    .button-next3, .button-prev3 {
      display: none !important; } }

.button-next3 {
  margin-right: 5%; }

.button-prev3 {
  margin-left: 5%; }

.detail-wrapper {
  width: 90%;
  margin: auto;
  max-width: 1400px; }
  @media only screen and (max-width: 1260px) {
    .detail-wrapper {
      width: 70%; } }
  @media only screen and (max-width: 1050px) {
    .detail-wrapper {
      width: 80%; } }
  @media only screen and (max-width: 550px) {
    .detail-wrapper {
      width: 90%; } }

.swiper4 {
  margin-top: 1vh; }

#detail-slides .detail-slide {
  display: flex;
  justify-content: center;
  align-items: center; }
  #detail-slides .detail-slide img {
    width: 80%;
    height: auto; }
    @media only screen and (max-width: 1050px) {
      #detail-slides .detail-slide img {
        height: 40vh;
        object-fit: cover; } }

.swiper-top {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 15; }
  .swiper-top h2 {
    font-size: 7vw; }
    @media only screen and (max-width: 1199px) {
      .swiper-top h2 {
        font-size: 10vw; } }
    @media only screen and (max-width: 550px) {
      .swiper-top h2 {
        font-size: 15vw; } }
  .swiper-top h3 {
    font-size: 14vw;
    color: #FF593E;
    margin-bottom: -10vh; }

.swiper-bot {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh; }
  @media only screen and (max-width: 1050px) {
    .swiper-bot {
      margin-top: 3vh; } }
  .swiper-bot h4 {
    font-size: 3vw;
    color: white; }
    @media only screen and (max-width: 1050px) {
      .swiper-bot h4 {
        font-size: 4vw; } }
  .swiper-bot .visit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%; }
    @media only screen and (max-width: 1199px) {
      .swiper-bot .visit {
        width: 35%; } }
    .swiper-bot .visit .visit-line {
      height: 2px;
      width: 40%;
      margin-right: 2vw;
      background-color: #FF593E; }
    .swiper-bot .visit a {
      color: #FF593E;
      font-size: 2vw;
      transition: .4s ease; }
      .swiper-bot .visit a:hover {
        margin-right: -1vw; }
      @media only screen and (max-width: 1050px) {
        .swiper-bot .visit a {
          font-size: 3vw; } }

.detail-pagination {
  width: 40% !important;
  margin: 2vh auto;
  display: flex;
  justify-content: center;
  --swiper-theme-color: white; }

.detail-content {
  width: 90%;
  margin: auto;
  color: white; }
  .detail-content h3 {
    color: white;
    font-size: 5vw;
    text-transform: uppercase; }
  .detail-content p {
    font-size: 1.5vw; }
    @media only screen and (max-width: 1050px) {
      .detail-content p {
        font-size: 2.5vw; } }
    @media only screen and (max-width: 550px) {
      .detail-content p {
        font-size: 3.5vw; } }

.case-intro {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh; }
  @media only screen and (max-width: 1050px) {
    .case-intro {
      flex-direction: column; } }
  .case-intro p {
    width: 50%; }
    @media only screen and (max-width: 1050px) {
      .case-intro p {
        width: 100%; } }
  .case-intro ul {
    width: 40%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2vw; }
    @media only screen and (max-width: 1260px) {
      .case-intro ul {
        font-size: 1.5vw; } }
    @media only screen and (max-width: 1050px) {
      .case-intro ul {
        font-size: 3vw;
        width: 100%;
        margin-top: 4%; } }
    @media only screen and (max-width: 550px) {
      .case-intro ul {
        font-size: 6vw; } }
    .case-intro ul li {
      width: 45%; }
      @media only screen and (max-width: 1050px) {
        .case-intro ul li {
          width: auto; } }

.next4, .prev4 {
  top: 50vh !important;
  --swiper-theme-color: white; }
  @media only screen and (max-width: 1199px) {
    .next4, .prev4 {
      top: 30vh !important; } }

@media only screen and (max-width: 1199px) {
  .next4 {
    margin-left: 10%; } }

@media only screen and (max-width: 1199px) {
  .prev4 {
    margin-right: 10%; } }

.first-sec, .second-sec, .third-sec, .detail-reco {
  margin-top: 20vh; }
  @media only screen and (max-width: 1050px) {
    .first-sec, .second-sec, .third-sec, .detail-reco {
      margin-top: 10vh; } }

.first-sec p {
  margin: 2vh auto; }
.first-sec img {
  width: 90%;
  margin: 2vh 5%; }

.second-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .second-sec .second-left {
    width: 45%; }
    @media only screen and (max-width: 1050px) {
      .second-sec .second-left {
        width: 100%; } }
  .second-sec img {
    width: 45%; }
    @media only screen and (max-width: 1050px) {
      .second-sec img {
        width: 100%;
        margin-top: 5vh;
        object-fit: cover;
        height: 30vh; } }

.third-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .third-sec .third-left {
    width: 65%; }
    @media only screen and (max-width: 1050px) {
      .third-sec .third-left {
        width: 100%;
        justify-content: center; } }
  .third-sec img {
    width: 30%; }
    @media only screen and (max-width: 1050px) {
      .third-sec img {
        margin-top: 5vh;
        object-fit: cover;
        display: none; } }

.detail-reco {
  margin-bottom: 20vh; }
  .detail-reco .reco-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 10vh;
    justify-content: space-between;
    align-items: center; }
    .detail-reco .reco-wrapper .reco-left {
      width: 60%;
      display: flex;
      flex-direction: column; }
      @media only screen and (max-width: 550px) {
        .detail-reco .reco-wrapper .reco-left {
          width: 100%; } }
      .detail-reco .reco-wrapper .reco-left img {
        width: 100%;
        margin-bottom: 3vh; }
        @media only screen and (max-width: 550px) {
          .detail-reco .reco-wrapper .reco-left img {
            display: block;
            width: 70%;
            margin-bottom: 0; } }
      .detail-reco .reco-wrapper .reco-left p {
        margin: 2vh auto; }
      .detail-reco .reco-wrapper .reco-left h5 {
        color: #FF593E;
        font-size: 2vw; }
        @media only screen and (max-width: 1050px) {
          .detail-reco .reco-wrapper .reco-left h5 {
            font-size: 3vw; } }
    .detail-reco .reco-wrapper img {
      width: 30%; }
      @media only screen and (max-width: 550px) {
        .detail-reco .reco-wrapper img {
          display: none; } }
  @media only screen and (max-width: 1050px) {
    .detail-reco {
      margin-bottom: 10vh; } }

/*# sourceMappingURL=style.css.map */
