@import "_mediaqueries";

#about{
    @include phone{
        height: auto;
    }
}
.about-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65%;
    max-width: 1200px;
    margin: auto;
    .about-left{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        height: 100%;
        @include tablet{
            width: 100%;
            align-items: center;
            height: 60%;
            }
            @include phone{
                height: auto;
            }
        p{
            font-size: $p-size;
        }
        .text-box{
            width: 80%;
            @include phone{
                margin: auto;
                text-align: center;
            }


            h3{
                font-size: 2.5rem;
                @include phone{
                    margin-top: 4vh;
                    text-align: center;
                    font-size: 3rem;
                    margin-bottom: 4vh;
                }
            }
        }
        .skills{
            width: 80%;
            @include phone{
                width: 100%;
            }

            .skills-container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                @include phone{
                    flex-direction: column;
                }

            }
            h4{
                font-size: 2.2rem;
                @include phone{
                    margin-top: 4vh;
                    text-align: center;
                    font-size: 2.8rem;
                }
            }
            p{
                width: 40%;
                margin-top: 2vh;
                @include tablet{
                    margin-top: 1vh;
                }
                @include phone{
                    font-size: $p-size;
                    margin-top: 5vh;
                    text-align: center;
                    width: 100%;
                }

            }
        }
    }
    .about-right{
        width: 50%;
        @include tablet{
            width: 90%;
            margin: auto;
            height: 60%;
            }
            @include phone{
                height: auto;
            }
    }
    .person-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        z-index: 5;
        position: relative;
        @include phone{
            flex-direction: column;
        }
        .person{
            width: 40%;
            display: flex;
            flex-direction: column;
            height: 80%;
            @include phone{
                width: 70%;
                margin: auto;
                margin-top: 5vh;
            }
            @include tablet{
                height: 100%;
            }
            .person-card{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @include phone {align-items: center;}
                height: 90%;
                img{
                    width: 100%;
                }
                a{
                    color: white;
                    font-size: 1.5rem;
                    margin: 3px 0;
                    transition: ease .3s;
                    &:hover{
                        color: $main-orange;
                    }
                }
                h5{
                    font-size: 40px;
                    color: $main-orange;
                    margin-top: 2%;
                    @include desktop-lg {
                        font-size: 3vw;
                    }
                    @include phone{
                        font-size: 8vw;
                        text-align: end;
                    }
                    @include tablet{
                        font-size: 6vw;
                        text-align: end;
                    }
                }
            }
        }
        :nth-child(odd){
            justify-content: flex-start;
        }
        :nth-child(even){
            justify-content: flex-end;
            @include tablet{
                justify-content: flex-start;
            }
        }
    }

    @include tablet{
        flex-direction: column;
        height: 80%;
        }
}