@import "_mediaqueries";

.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    width: 30vw;
    @include tablet{
        width: 40vw;

    }
    @include phone{
        width: 65vw;
    }
}

.overlay{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 30vw;
    position: absolute;
    z-index: 10;
    @include tablet{
        width: 40vw;
        height: 40vw;
    } 
    @include phone{
        width: 65vw;
        height: 65vw;
    }
    .slider-count{
        align-self: flex-end;
        color: $main-orange;
        font-size: 15vw;
        margin-top: -0.5em;
        margin-right: -0.3em;
        @include phone{
            font-size: 20vw;
        }
    }
    .slider-job{
        color: $grey;
        font-size: 4vw;
        margin-left: -1em;
        margin-top: -1em;
        @include phone{
            font-size: 10vw;

        }
    }
    .slider-year{
        display: inline-flex;
        align-self: start;
        align-items: center;
        font-size: 2vw;
        transform: rotate(-90deg);
        color: $grey;
        margin-left: -4.6em;
        margin-top: 5em;
        @include tablet{
            margin-top: 10em;
        }
        @include phone{
            font-size: 4vw;
            margin-left: -3em;
            margin-top: 9em;
        }
    }
    .line{
        width: 10vw;
        height: 2px;
        background-color: $grey;
        margin-right: 5%;
    }
    .slider-company{
        display: flex;
        font-size: 3vw;
        color: $light-blue;
        transform:rotate(-90deg);
        margin-top: -3.54em;
        margin-left: 5.8em;
        width: 100%;
        @include tablet{
            font-size: 4vw;
            margin-top: -4.1em;
        }
        @include phone{
            font-size: 5vw;
            margin-top: -5.6em;
            margin-left: 7em;
        }
    }

}

.animation-fadein{
    animation-name: fadein;
    animation-duration: 0.8s;
    transition: ease;
    animation-fill-mode: forwards;
}

.animation-fadein-delay{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 0.8s;
    transition: ease;
    animation-fill-mode: forwards;
    animation-delay: 250ms;
}

.animation-opacity{
    animation-name: opacity;
    animation-duration: 1.5s;
    transition: ease;
    animation-fill-mode: forwards;
}

.animation-opacity-delay{
    opacity: 0;
    animation-name: opacity;
    animation-duration: 1.5s;
    transition: ease;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
}

@keyframes fadein{
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.slider-progress{
    display: flex;
    width: 15vw !important;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto auto 0% auto;
    color: white;
    --swiper-theme-color: white;
}

.swiper-slide img{
    transition: ease 0.5s;
}

#cases .swiper-slide img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.overlay{
    pointer-events: none;
}

.button-prev1{
    display: none;
    margin-left: 20%;
    --swiper-theme-color: white;
    @include phone{
        display: none !important;
    }
}

.button-next1{
    margin-right: 20%;
    --swiper-theme-color: white;
    @include phone{
        display: none !important;
    }
}

.casehtag {
    margin-left: 10vh;
    @include phone{
        margin: 0;
        width: 100%;
        text-align: center;
    }
}

.sub-wrapper.case{
    width: 100%;
}

.case{
    height: 80vh;
    @include phone{
        height: 60vh;
    }
}

#cases h2{
    margin-top: 8%;
    @include tablet {
        margin-top: 20%;
    }
    @include phone{
        margin: 8% auto 0 auto;
        text-align: center;
    }
}
