   #contact {
       .sub-wrapper {
           h2 {color: transparent;
            -webkit-text-stroke-width: $dark-blue;
            -webkit-text-stroke-color: $dark-blue;
            position: absolute;
            right: -50px;
        }
        h3 {color: $main-orange; font-size: 2rem;}
       }
   }

   .h3-big-contact {
       font-size: 5rem !important; color: $dark-blue !important;
       margin: 50px 0px;
   }

   #contact-form {
       display: flex; flex-direction: column;
       width: 50%;
       h4 {color: $dark-blue; font-size: 2rem;}
       &-top-input {
           display: flex; flex-direction: row;
           input[type=text], input[type=email] {width: 40%; margin-bottom: 10%;}
           div {width: 100%;}
       }
       input, textarea {border: none; background-color: transparent; font-size: 1.5rem;}
       input[type=submit] {color: white}
   }
