.detail-wrapper{
    width: 90%;
    margin: auto;
    max-width: 1400px;
    @include desktop-lg {width: 70%}
    @include tablet {width: 80%;}
    @include phone {width: 90%;}
}

.swiper4{
    margin-top: 1vh;
}

#detail-slides{
    .detail-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
            height: auto;
            @include laptop {width: 70%; height: 50vh; object-fit: cover;}
            @include tablet {height: 40vh; width: 80%;}
            @include phone {width: 40vh;}
        }
    }
}

.swiper-top{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 15;
    h2{
        font-size: 7vw;
        @include desktop-sm {font-size: 10vw;}
        @include phone {font-size: 3.5rem; -webkit-text-stroke-width: 1px;}
    }
    h3{
        font-size: 14vw;
        color: $main-orange;
        margin-bottom: -10vh;
    }
    @include laptop {width: 80%;}
    @include tablet {width: 90%;}
}

.swiper-bot{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
    @include laptop {width: 80%;}
    @include tablet {margin-top: 3vh; width: 90%;}
    h4{
        font-size: 3vw;
        color: white;
        @include tablet {font-size: 4vw;}
        @include phone{
            font-size: 4.5vw;
        }
    }
    .visit{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 25%;
        @include desktop-sm {width: 35%;}
        .visit-line{
            height: 2px;
            width: 40%;
            margin-right: 2vw;
            background-color: $main-orange;
            @include phone{
                width: 20%;
            }
        }
        a{
            color: $main-orange;
            font-size: 2vw;
            transition: .4s ease;
            &:hover {margin-right: -1vw;}
            @include tablet {font-size: 3vw;}
            @include phone{
                font-size: 5vw;
            }
        }
    }

}

.detail-pagination{
    width: 40% !important;
    margin: 2vh auto;
    display: flex;
    justify-content: center;
    --swiper-theme-color: white;
}

.detail-content{
    width: 90%;
    margin: auto;
    color: white;
    h3{
        color: white;
        font-size: 5vw;
        text-transform: uppercase;
    }
    p{
        font-size: $p-size; /* 1.5vw;
        @include tablet {font-size: 2.5vw;}
        @include phone {font-size: 5vw} */
    }
    @include laptop {width: 80%;}
    @include tablet {width: 90%;}
}

.case-intro{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    @include tablet {flex-direction: column;}
    p{
        width: 50%;
    @include tablet {width: 100%;}
    }
    ul{
        width: 40%;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 2vw;
        @include desktop-lg {font-size: 1.5vw;}
        @include tablet {font-size: 3vw; width: 100%; margin-top: 4%;}
        @include phone {font-size: 6vw;}
        li{
            width: 45%;
        @include tablet {width: auto;}
        }
    }
}

.next4, .prev4{
    top: 50vh !important;
    --swiper-theme-color: white;
    @include desktop-sm {top: 30vh !important;}
}

.next4 {@include desktop-sm {margin-left: 10%;}}
.prev4 {@include desktop-sm {margin-right: 10%;}}

.first-sec, .second-sec, .third-sec, .detail-reco{
    margin-top: 20vh;
    @include tablet {margin-top: 10vh;}
}

.first-sec{
    p{
        margin: 2vh auto;
    }
    img{
        width: 90%;
        margin: 2vh 5%;
    }
}

.second-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .second-left{
        width: 45%;
        @include tablet {width: 100%;}
    }
    img{
        width: 45%;
        @include tablet {width: 100%; margin-top: 5vh; object-fit: cover; height: 30vh;}
    }
}

.third-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .third-left{
        width: 65%;
        @include tablet {width: 100%; justify-content: center;}
    }
    img{
        width: 30%;
        @include tablet {margin-top: 5vh; object-fit: cover; display: none;}
    }

}

.detail-reco{
    .reco-wrapper{
        width: 80%;
        margin: auto;
        display: flex;
        margin-top: 10vh;
        justify-content: space-between;
        align-items: center;
        .reco-left{
            width: 60%;
            display: flex;
            flex-direction: column;
            @include phone {width: 100%;}
            img{
                width: 100%;
                @include phone {display: block; width: 70%; margin-bottom: 0;}
            }
            p{
                margin: 3vh auto;
                font-size: 2vw;
                font-style: italic;
                @include tablet{ font-size: 3vw;}
                @include phone{
                    font-size: 5vw;
                }
            }
            h5{
                color: $main-orange;
                font-size: 2.5vw;
                @include tablet {font-size: 3vw;}
                @include phone{
                    font-size: 6vw;
                }
            }
        }
        img{
            width: 30%;
            @include phone {display: none;}
        }
    }
    margin-bottom: 20vh;
    @include tablet {margin-bottom: 10vh;}
}