#birds{
    width: 50%;
    height: 100vh;
    position: relative;
}

.hero-text{
    width: 50%;
    height: 100%;
    p{
        width: 70%;
        margin: auto;
        margin-left: 10%;
        margin-top: 5vh;
        color: white;
        font-size: 1.3rem;
    }
}

.hero-head{
    font-size: 4rem;
    color: white;
    width: 90%;
    margin: auto;
    margin-left: 10%;
    display: flex;
    align-items: flex-end;
    margin-top: 45%;
    .square{
        background-color: $main-orange;
        width: 1rem;
        height: 1rem;
        margin-bottom: 1.3rem;
        margin-left: 10px;
    }
    h1{
        display: flex;
        align-items: flex-end;
        padding: 0;
        margin: 0;
        font-weight: 1000;

    }
}

.hero-forside{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vanta-canvas{
    width: 100% !important;
    height: 100vh !important;
}


.gradient-left{
    background: rgb(23,36,48);
    background: linear-gradient(90deg, rgba(23,36,48,1) 0%, rgba(23,36,48,1) 41%, rgba(0,212,255,0) 100%);
    height: 100%;
    width: 25%;
    position: absolute !important;
    left: 0;
    top: 0;
    z-index: 20;
}

.gradient-bot{
    background: rgb(23,36,48);
background: linear-gradient(0deg, rgba(23,36,48,1) 0%, rgba(23,36,48,1) 41%, rgba(0,212,255,0) 100%);
width: 100%;
height: 10%;
position: absolute !important;
left: 0;
bottom: 0;
z-index: 20;
}


.sub, footer{
    width: 100%;
    height: 150vh;
}

footer {
    background-color: orange;
}


 #services, #contact{
    display: flex;

}
/* SKAL SLETTES SENERE ER KUN TIL DEMO */
article {
    border: solid 5px $darkest-blue;
}
/*************************************/

.darkBlue {
    background-color: $dark-blue;
    transition: .4s;
  }
  .grey {
    background-color: $grey;
    transition: .4s;
  }
