@import "_mediaqueries";

.infopage{
    margin: auto;
    width: 40%;
    @include tablet{
        width: 80%;
    }
    h2{
        color:$grey;
        font-size: 3em;
    }
    h3{
        color:$main-orange;  
        font-size: 1.5em;  
    }
    p{
        font-size: $p-size;
        color:$grey;
    }
}

.frontpagelink{
    width: 80%;
    display: flex;
    margin: 2% auto 1%;
    justify-content: space-between;
    .back-button{
        display: flex;
        color: white;
        align-items: center;
        font-size: 2em;
        i{
            margin-left: 0.4em;
        }
    }
}

