/* mediaqueries */
$phone: 550px;
$tablet: 1050px;
$desktop-sm: 1199px;
$desktop-lg: 1260px;

@mixin phone {
    @media only screen and (max-width: $phone) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop-sm {
    @media only screen and (max-width: $desktop-sm) {
        @content;
    }
}

@mixin desktop-lg {
    @media only screen and (max-width: $desktop-lg) {
        @content;
    }
}

//write like this in your code for instance
/* @include desktop-sm {width: 125px; top: 20px;}
    @include tablet {width: 100px;}
    @include phone {display: block; width: 125px;}   */