.proc{
    -webkit-transition: background-color 0.3s ease !important;
    -o-transition: background-color 0.3s ease !important;
    transition: background-color 0.3s ease !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    margin: auto !important;
    @include tablet{
        width: 100% !important;
    }
    img{
        width: 28% !important;
        height: auto !important;
        &:hover{
        cursor: url('../images/arrow.png'), default !important;
        }
        @include tablet{
            width: 35% !important;
        }
        @include phone{
            width: 25% !important;
        }
    }
    .proces-text{
        width: 50%;
        display: flex;
        flex-direction: column;
        @include phone{
            width: 60%;
        }
        h3{
           font-size: 5vw; 
           margin-bottom: 3vh;
           @include phone{
            font-size: 10vw;
        }
        }
        p{
            font-size: 1.5vw;
            @include tablet{
                font-size: 3vw;
            }
            @include phone{
                font-size: 4vw;
            }
        }
    }

}

.swiper-slide{
    z-index: 1 !important;
}

.swiper2{
    height: 65vh !important;
    width: 70% !important;
    margin: auto !important;
    .swiper-pagination2{
        text-align: center;

        @include phone{
            display: flex !important;
            justify-content: space-between !important;
        }
        .swiper-pagination-bullet{
            margin: 0 25px !important;
            width: 70px;
            height: 40px;
            background-color: transparent;
            outline: none;
            i{
                font-size: 40px;
                color: $dark-blue;
            }
            @include phone{
                margin: 0 8px !important;
                width: 50px;
            }
        }
    }

    @include tablet{
    width: 100% !important;
    }
}