
@import "_mediaqueries";

$dark-blue: #172430;
$main-orange: #FF593E;
$darkest-blue: #101A23;
$light-blue: #424E58;
$grey: #F2F2F2;
$light-orange: #FB7C67;
$nav-width: 70px;

*{
    margin: 0;
    padding: 0;
    font-family: bebas-neue-pro, sans-serif;
}

body{
    background-color: $dark-blue;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    overflow-x: hidden;
    cursor: url('../images/arrow.png'), auto !important;
    cursor: url('../images/arrow.png'), webkit-auto !important;
    cursor: url('../images/arrow.png'), -moz-auto !important;
    position: relative;
}

/*
***************** CHANGE OF CURSOR ******************
*/
/* for edge */
.nav-container span:hover, .top-links span:hover{
    cursor: pointer;
}

.nav-container span:hover, .top-links span:hover{
    cursor: pointer;
}

a, button, i, input[type=submit], nav p, nav img, .btn-grey, .btn-orange, .btn-orange div, .btn-grey div, #proces span, #cases .swiper-slide img, .swiper-button-next, .swiper-button-prev, .nav-container span  {
    cursor: url('../images/point.png'), pointer !important;
    cursor: url('../images/point.png'), webkit-pointer !important;
    cursor: url('../images/point.png'), -moz-pointer !important;
}


input[type=text], input[type=text], input[type=email], textarea {cursor: url('../images/text.png'), text !important;}

.recommend-slide {
    cursor: url('../images/drag.png'), pointer !important;
    cursor: url('../images/drag.png'), webkit-pointer !important;
    cursor: url('../images/drag.png'), -moz-pointer !important;
}

.recommend-slide:active, #cases .swiper-slide img:active {
    cursor: url('../images/draging.png'), pointer !important;
cursor: url('../images/draging.png'), webkit-pointer !important;
cursor: url('../images/draging.png'), -moz-pointer !important;
}
/*
***********************************************************
*/
html{
    overflow-y: auto;
    overflow-x: hidden;
}


#app{
    position: relative;
}

#front{
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}


#content{
    margin-left: $nav-width;
    width: -webkit-calc(100vw - $nav-width);
    width:    -moz-calc(100vw - $nav-width);
    width:         calc(100vw - $nav-width);
    position: relative;
    @include tablet{
    margin-left: 0;
    width: 100%;
    }
}

#detail{
    scroll-behavior: initial !important;
}

#cases{
    position: relative;
}


.sub{
    width: 100%;
    height: 120vh;
    @include desktop-lg{
        min-height: 120vh;
    }
    @include phone {height: auto;}
}

.sub-wrapper{
    height: 100vh;
    width: 90%;
    margin: 10vh auto;
    color: $grey;
    position: relative;
    @include phone{
       height: auto;
    }
}

.dark{
    color: $dark-blue;
}

.anchor {
    margin-top: 100px;
    @include phone{
        margin-top: 50px;
    }
}

h1, h2, h3, h4{
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

h2{
    font-size: 12rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    @include phone{
        font-size: 30vw;
    }
}

.darkh2{
    -webkit-text-stroke-color: $dark-blue;
}

.lighth2{
    -webkit-text-stroke-color: $grey;
}

a{
    text-decoration: none;
}

.btn-orange div{
    background-color: $main-orange; color: white;}
.btn-grey div{
    background-color: $grey; color: $darkest-blue;}

.btn-orange, .btn-grey {
    text-decoration: none;
    text-transform: uppercase;
    div {
        width: 6vw;
        height: 6vh;
        display: flex; flex-direction: row; align-items: center; justify-content: center;
        i {margin-left: 10%;}
        transition: .4s ease;
    &:hover {transform: scale(1.1);}
    @include tablet{
        width: 14vw;
        height: 8vw;
        font-size: 2.5vw;
    }
    @include phone{
        width: 30vw;
        height: 15vw;
        font-size: 6vw;
        margin-top: 4vh;
    }
    }
}

/* SCROLLBAR STYLING */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $darkest-blue;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $light-orange;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $main-orange;
  }

  /* mark selection */
  ::selection {
    background: #ffb7b723; /* WebKit/Blink Browsers */
    color: $light-orange;
  }
  ::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
  }

  .delete{
      display: none !important;
  }


  .grecaptcha-badge{
      z-index: 150 !important;
      @include tablet{
          margin-bottom: 15vh !important;
      }
      @include phone{
        margin-bottom: 85vh !important;
      }

  }

 .bg-element {
    position: absolute;
    height: auto;
    z-index: 0 !important;
    }

    .about-bg1 {
        bottom: 20%;
        right: 10%;
        width: 5vw;
    }
    .about-bg2 {
        bottom: 10%;
        right: 20%;
        width: 7vw;
    }
    .about-bg3 {
        bottom: 20%;
        left: 10%;
        width: 3vw;
    }
    .about-bg4 {
        bottom: 50%;
        left: 2%;
        width: 8vw;
    }
    .about-bg5 {
        bottom: 0%;
        left: 50%;
        width: 5vw;;
    }




    .detailview-bg1 {
        bottom: 20%;
        right: 10%;
        width: 5vw;
    }
    .detailview-bg2 {
        bottom: 50%;
        right: 20%;
        width: 7vw;
    }
    .detailview-bg3 {
        bottom: 60%;
        left: 10%;
        width: 3vw;
    }
    .detailview-bg4 {
        bottom: 70%;
        left: 2%;
        width: 8vw;
    }
    .detailview-bg5 {
        bottom: 10%;
        left: 50%;
        width: 5vw;;
    }