
$dark-blue: #172430;
$main-orange: #FF593E;
$darkest-blue: #101A23;
$grey: #F2F2F2;
$light-orange: #FB7C67;
$nav-width: 70px;

*{
    margin: 0;
    padding: 0;
    font-family: bebas-neue-pro, sans-serif;
}

body{
    background-color: $dark-blue;
    position: relative;
}

html{
    overflow-y: auto;
	scroll-behavior: smooth;
}


#content{
    margin-left: $nav-width;
    width: -webkit-calc(100vw - $nav-width);
    width:    -moz-calc(100vw - $nav-width);
    width:         calc(100vw - $nav-width);
    position: relative;
}

h1{
    font-family: bebas-neue-pro-expanded, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}

.btn-orange {
    background-color: $main-orange; color: white;}
.btn-grey {
    background-color: $grey; color: $darkest-blue;}

.btn-orange, .btn-grey {
    padding: 2% 2%;
    width: 50px;
    height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    &:hover {transform: scale(1.1);}
    i {margin-left: 1%;}
}
